@import 'func.styl'

#index-main
  height 100vh
  background-color #f5f5f5
  background-image url('/static/images/banner.jpg')
  background-repeat no-repeat

#signup-box,
#signin-box
  margin-top 50px
  height 100vh
  background-color #f5f5f5
  padding 50px 100px

  h2
    color #777
    width 40%
    margin 0 auto
    text-align center
    font-size 2.5em
    padding-bottom 40px
    border-bottom 2px solid #e5e5e5
    margin-bottom 60px

  .form-box
    background #fff
    padding 60px 50px 30px 50px
    width 60%
    margin 0 auto
    border-radius 6px
    box-shadow 0 2px 0 0 #e5e5e5

#header
  color #fff
  text-align center
  padding-top 200px

  h1
    margin 0
    font-size 72px

  p
    font-size 18px

  .btn-box
    margin-top 30px

  .btn
    font-weight 500
    transition 0.25s
    display inline-block
    height 3em
    padding 0 30px
    color #fff
    text-decoration none
    border 2px solid rgba(255, 255, 255, 0.7)
    line-height 3em
    cursor pointer
    min-width 12em
    border-radius 6px
    margin 0 20px

    &:hover
      background-color rgba(255, 255, 255, 0.2)


#footer
  width 40%
  margin 0 auto
  border-top 1px solid rgba(255, 255, 255, 0.4)
  margin-top 90px
  padding-top 10px
  text-align center
  color rgba(255, 255, 255, 0.8)

.messages
  color #961C1C
  text-align center
