@import 'const.styl'
@import 'func.styl'

#index-main
  height 100vh
  background-color BACKGROUND_COLOR
  background-image url('/static/images/banner.jpg')
  background-repeat no-repeat

#header
  color #fff
  text-align center
  padding-top 200px

  h1
    margin 0
    font-size 72px

  p
    font-size 18px

  .btn-box
    margin-top 30px

  .btn
    font-weight 500
    transition 0.25s
    display inline-block
    height 3em
    padding 0 30px
    color #fff
    text-decoration none
    border 2px solid rgba(255, 255, 255, 0.7)
    line-height 3em
    cursor pointer
    min-width 12em
    border-radius 6px
    margin 0 20px

    &:hover
      background-color rgba(255, 255, 255, 0.2)


#footer
  width 40%
  margin 0 auto
  border-top 1px solid rgba(255, 255, 255, 0.4)
  margin-top 90px
  padding-top 10px
  text-align center
  color rgba(255, 255, 255, 0.8)

.messages
  color #961C1C
  text-align center
