<header-navbar></header-navbar>
<div id="inbox-box">
  <div class="wrapper text-center">
    <h2>Inbox</h2>
  </div>
  <div class="content-box large-box">
    <table class="alt">
      <thead>
        <tr>
          <td>#</td>
          <td>From</td>
          <td>Content</td>
          <td>Time</td>
          <td>%</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>#</td>
          <td>From</td>
          <td>Content</td>
          <td>Time</td>
          <td>%</td>
        </tr>
        <tr>
          <td>#</td>
          <td>From</td>
          <td>Content</td>
          <td>Time</td>
          <td>%</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
