<header-navbar></header-navbar>
<div id="profile-box" class="container">
  <div class="wrapper text-center">
    <h2>Profile</h2>
  </div>

  <div class="content-box small-box form">
    <span class="avatar"></span>

    <section>
      <label>Username: </label>
      <span>{{currentUser.username}}</span>
    </section>

    <section>
      <label>Nickname: </label>
      <span>{{currentUser.nickname}}</span>
    </section>

    <section>
      <label>Email: </label>
      <span>{{currentUser.email}}</span>
    </section>

  </div>
</div>
