<div id="index-main">
  <div id="header">
    <h1>Letters</h1>
    <p>Letter needs times.</p>
    <div class="btn-box">
      <a href="#/" class="btn">Sign Up</a>
      <a href="#/" class="btn">Learn More</a>
    </div>
  </div>
  <div id="footer">
    Help
  </div>
</div>

<div id="index-signup">
  <div class="wrapper text-center">
    <h2>Sign Up</h2>
  </div>
  <div class="form-box">
    <form name="signupForm" id="signup-form" class="submit-form" ng-submit="signUpSubmit()" novalidate>
      <div ng-show="messages" class="messages">
        {{messages}}
      </div>

      <section>
        <label for="username">Username: </label>
        <input name="username" id="username" type="text" required placeholder="Username" ng-model="username" minlength="4" maxlength="24"/>
        <span class="error-msg" ng-show="signupForm.username.$dirty" ng-messages="signupForm.username.$error">
          <span ng-message="required">Required</span>
          <span ng-message="minlength">Too short</span>
        </span>
      </section>

      <section>
        <label for="email">Email: </label>
        <input name="email" id="email" type="email" required placeholder="Email" ng-model="email" />
        <span class="error-msg" ng-show="signupForm.email.$dirty" ng-messages="signupForm.email.$error">
          <span ng-message="required">Required</span>
          <span ng-message="email">Email required</span>
        </span>
      </section>

      <section>
        <label for="password">Password: </label>
        <input name="password" type="password" required placeholder="Password" ng-model="password" minlength="6" maxlength="16" />
        <span class="error-msg" ng-show="signupForm.password.$dirty" ng-messages="signupForm.password.$error">
          <span ng-message="required">Required</span>
          <span ng-message="minlength">Too short</span>
          <span ng-message="maxlength">Too long</span>
        </span>
      </section>

      <section>
        <label for="nickname">Nickname: </label>
        <input name="nickname" type="text" required placeholder="Nickname" ng-model="nickname" minlength="6" maxlength="24"/>
        <span class="error-msg" ng-show="signupForm.nickname.$dirty" ng-messages="signupForm.nickname.$error">
          <span ng-message="required">Required</span>
          <span ng-message="minlength">Too short</span>
          <span ng-message="maxlength">Too long</span>
        </span>
      </section>

      <section class="text-center">
        <button>Submit</button>
      </section>
    </form>
  </div>
</div>
