<div id="index-main">
  <div id="header">
    <h1>Letters</h1>
    <p>Letter needs times.</p>
    <div class="btn-box">
      <a href="#/" class="btn">Sign Up</a>
      <a href="#/" class="btn">Learn More</a>
    </div>
  </div>
  <div id="footer">
    Help
  </div>
</div>

<div id="index-signup">
  <div class="wrapper text-center">
    <h2>Sign Up</h2>
  </div>
  <div class="form-box">
    <form name="signup-form" id="signup-form" class="submit-form">
      <section>
        <label for="username">Username: </label>
        <input name="username" id="username" type="text" required placeholder="Username" />
      </section>

      <section>
        <label for="email">Email: </label>
        <input name="email" id="email" type="email" required placeholder="Email" />
      </section>

      <section>
        <label for="password">Password: </label>
        <input name="password" type="password" required placeholder="Password" />
      </section>

      <section>
        <label for="nickname">Nickname: </label>
        <input name="nickname" type="text" required placeholder="Nickname" />
      </section>

      <section class="text-center">
        <button>Submit</button>
      </section>
    </form>
  </div>
</div>
